
main {
    width: 100%;
    height: auto;
    text-align: center;

}

.img-404 {
    height: 300px;
    margin: 80px auto;
    display: block;
}

.text-404 {
    margin-bottom: 70px;
    text-transform: capitalize;
    font-size: 20px;
    padding: 0 10px;

}

.homepage {
    text-decoration: none;
    color: var(--color-tertiary);
}